body {
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body .container {
	width: 1000px;
	/* margin-top: 30px;
	margin-bottom: 30px; */
	margin: 30px auto 30px auto;
}
.container .filter {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
}
.container .filter button {
	background-color: #FF5A5F;
	border: 0px;
	width: 20%;
	height: 48px;
	border-radius: 4px;
}
